body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    
    background-image: url("./assets/bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#game {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

@font-face {
    font-family: "Pacifico-Regular";
    src: url("assets/fonts/Pacifico-Regular.ttf");
}

/*
Fuentes que se usan en Phaser
*/
