body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    
    background-image: url("./assets/bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    cursor:url("./assets/UI/pointers/cursor.png"), auto;
}

#game {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

@keyframes glow {
    0% {
        box-shadow: 0 0 30px #ffffff, 0 0 30px #ffffff;
    }
    50% {
        box-shadow: 0 0 60px #ffffff, 0 0 60px #ffffff;
    }
    100% {
        box-shadow: 0 0 30px #ffffff, 0 0 30px #ffffff;
    }
}
#game canvas {
    border: 8px solid #e900af;
    border-radius: 3px;
    animation: glow 1.5s ease-in-out infinite alternate;
}


/*
Fuentes que se usan en Phaser
*/
@font-face {
    font-family: "Pacifico-Regular";
    src: url("assets/fonts/Pacifico-Regular.ttf");
}
